.input {
  width: 40px;
  margin: 1px;
  height: 20px;
}

.item {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  flex: 1;
}

.label {
  font-size: 13px;
}

.form {
  margin-left: 5px;
  margin-right: 1px;
}