.colorPicker {
  display: flex;
}

.picker-canvas {
  position: relative;
  border-radius: 2px;
  position: relative;
  border: 1px solid #252525;
  outline: 1px solid #8c8c8c;
  margin-right: 8px;
  width: 70vw;
  aspect-ratio: 1;
  height: 90%;
}

.colorPicker .color:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  border-radius: 8px;
}

.canvas-container {
  display: flex;
  height: 600px;
}

.output {
  width: 50px;
  height: 50px;
  margin-left: 8px;
  border-radius: 4px;
}

.click-position-dot {
  top: 20px;
  left: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  z-index: 9999;
}

.click-position-dot-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 1px solid black;
}
