.colorSwitcher {
  margin-right: 16px;
}

.colorPicker {
  display: flex;
  height: 96vh;
  width: 96vw;
}

.picker-canvas {
  position: relative;
  border: -0.1px solid #252525;
  outline: 0.1px solid #8c8c8c;
  width: 70vw;
  height: 90vh;
  margin-right: 8px;
}



.canvas-container {
  margin-top: 4px;

  display: flex;
  height: 90vh;
  width: 80vw;
}

.colorBlockAndForm {
  margin-left: 0;
  margin-right: 10px;
  margin-top: 4px;
  height: 90vh;
}

.output {
  width: 15vw;
  height: 15vw;
  margin-left: 8px;
  border-radius: 4px;
}

.hexRGB {
  font-size: 13px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.hexRGB input {
  display: block;
  margin-left: 8px;
  width: 8vw;
}

.click-position-dot {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(250, 250, 250);
  z-index: 9999;
  margin-left: -8px;
  margin-top: -9px;
}

.click-position-dot-inner {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px solid rgb(11, 11, 11);
}

/* .click-position-dot-inner2 {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px solid rgb(250, 250, 250);
} */