.colorPicker {
  display: flex;
  height: 96vh;
  width: 96vw;
}

.picker-canvas {
  position: relative;
  border-radius: 2px;
  position: relative;
  border: 2px solid #252525;
  outline: 2px solid #8c8c8c;
  margin-right: 8px;
  width: 70vw;
  height: 90vh;
}

.colorPicker .color:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  border-radius: 8px;
  margin-left: 10px;
}

.canvas-container {
  margin: auto;
  display: flex;
  height: 90vh;
  width: 80vw;
}

.colorBlockAndForm {
  margin: auto;
  display: Table Layout;
  height: 90vh;
}

.output {
  width: 12vh;
  height: 12vh;
  margin-left: 8px;
  border-radius: 4px;
}

.click-position-dot {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(250, 250, 250);
  z-index: 9999;
  margin-left: -8px; /* 新增：左边距为负的一半宽度 */
  margin-top: -8px; /* 新增：上边距为负的一半高度 */
}

.click-position-dot-inner {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px solid rgb(11, 11, 11);
}

/* .click-position-dot-inner2 {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  border: 1px solid rgb(250, 250, 250);
} */
